/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  scroll-behavior: smooth;
}

body {
  background: #f4f7f5;
  color: #1f2d1f;
}

/* CABEÇALHO */
header {
  background: linear-gradient(90deg, #1b5e20, #43a047);
  color: white;
  text-align: center;
  padding: 20px;
}

/* BOTÕES MENU */
nav {
  margin-top: 10px;
}

nav button {
  background: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

nav button:hover {
  background: #c8e6c9;
}

/* SEÇÕES */
.secao {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  animation: fade 0.4s ease;
}

/* IMAGEM */
.banner {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
/* TEXTOS */
h2 {
  color: #2e7d32;
  margin-bottom: 10px;
}

h3 {
  color: #388e3c;
  margin-top: 15px;
}

/* LISTA */
ul li {
  background: white;
  margin: 10px 0;
  padding: 12px;
  border-left: 6px solid #43a047;
  border-radius: 6px;
}

/* RODAPÉ */
footer {
  text-align: center;
  background: #1b5e20;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

/* ANIMAÇÃO */
@keyframes fade {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}
